body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    flex-direction: row;
    user-select: none;
    cursor: pointer;
}

.container-tv {
    flex: 8;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.tv {
    margin-top: 2%;
    background-color: black;
    height: 70%;
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.imagen {
    width: 100%;
    height: 95%;
    background-color: rgb(32, 32, 32);
    position: relative;
    display: inline-block;
}

.imagen img {
    display: block;
}

.data-channel {
    position: absolute;
    top:43%;
    right: 0;
    background-color: transparent;
    backdrop-filter: brightness(0.5) blur(1px);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25%;
}

.list-container{
    overflow-y: auto;
    scrollbar-width: none; /* Oculta la barra de desplazamiento en navegadores compatibles */
    -ms-overflow-style: none;
}

.list-container::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en navegadores WebKit (Chrome, Safari, etc.) */
}

.list-container P {
    font-size: 120%;
    text-align: left;
    font-weight: bold;
    color: aliceblue;
}

.list-channel{
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: brightness(0.2) blur(1px);
  }

  .list-channel p {
    text-align: center;
    font-size: 100%;
    color: azure;
    font-family: "SamsungOne", Arial, sans-serif;
  }

  .list-item {
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
  }
  
  .item-channel{
    height: auto;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SamsungOne', sans-serif;
  }

  .item-data{
    width: 70%;
    text-align: left;
    font-family: 'SamsungOne', sans-serif;
  }

  .item-data p {
    font-size: 80%;
    color: white;
    text-align: left;
  }

  .item-data h4 {
    color: rgba(88, 155, 231, 0.979);
    font-size: 100%;
  }


.channel-column {
    width: 85%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(117, 115, 115);
    justify-content: flex-start;
    align-items: space-between;
  }

  .channel-number{
    width: 15%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 200%;
  }

  .channel-name{
    font-size: 130%;
    padding-bottom: 5%;
  }

  .channel-program{
    width: 100%;
    font-size: 80%;
  }

.volumen-n {
    position: absolute;
    top:45%;
    left: 0;
    padding-left: 2%;
    color: white;
    font-size: 150%;
    background-color: transparent;
    backdrop-filter: brightness(0.5) blur(1px);
}

/* Estilo para el div de marca-tv */
.marca-tv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5%;
}
.imagen img{
    width: 100%;
    height: 100%;
}

#indicador-led {
    width: 1%;
    height: 40%;
    background-color: rgb(99, 0, 0);
    border-radius: 50%;
}

.logo-samsung {
    height: 200%;
}


.base-rect {
    background-color: black;
    height: 5%;
    width: 10%;
}

.base-ova {
    width: 30%;
    height: 3%;
    background-color: black;
    border-radius: 50%;
    margin-top: -1px;
}


.container-control {
    flex: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-tv {
    width: 60%;
    height: 80%;
    background-color: black;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
}

.botones-arriba {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    border-radius: 50%;
}

.btn-power,
.btn-lujo {
    color: white;
    background-color: red;
    border-radius: 50%;
    height: 45%;
    width: 15%;
    line-height: 143%;
    align-items: center;
    justify-content: center;
}

.numeros {
    margin-top: 5%;
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: repeat(3, 24%);
    gap: 1%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.btn-number {
    padding: 1px;
    width: 80%;
    height: 70%;
    border-radius: 50%;
    line-height: 180%;
    background-color: rgb(83, 83, 83);
    color: white;
}

.btn-vol-cha {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
}

.volumen {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mayor {
    margin-top: 10%;
    background-color: rgb(123 123 185 / 57%);
    height: 45%;
    width: 80%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menor {
    margin-top: 2%;
    background-color: rgb(123 123 185 / 57%);
    height: 45%;
    width: 80%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: white;
    text-align: center;
    margin: 0;
}

.direction-buttons {
    height: 20%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    justify-items: center;
}

.direction-middle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.button-direction-lado {
    border: none;
    border-radius: 40%;
    width: 90%;
    background-color: rgb(83, 83, 83);
    color: white;
}

.ok {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


.button-direction-arr {
    border: none;
    width: 18%;
    border-radius: 40%;
    background-color: rgb(83, 83, 83);
    color: white;
}

/* .logos--netflix::after { */

.btn-log {
    background-color: rgb(83, 83, 83);
    width: 25%;
    height: 60%;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-netflix img {
    width: 50%;
    height: auto;
}


.btn-star img {
    width: 90%;
    height: auto;
}

.btn-star {
    font-size: 60%;
    color: white;
    font-weight: bold;
}

.btn-extras {
    margin-top: 10px;
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.btn-ex-set {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 4%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.btn-exit,
.btn-settings {
    font-size: 75%;
    background-color: rgb(83, 83, 83);
    width: 20%;
    height: 100%;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    color: white;
    ;
}

.btn-youtube{
    color: red;
}


.button-direction-lado:active,
.btn-number:active,
.mayor:active,
.menor:active,
.button-direction-arr:active,
.btn-log:active,
.ok:active,
.btn-exit:active,
.btn-settings:active,
.btn-power:active {
    filter: brightness(50%);
}

/* Consulta de medios para pantallas pequeñas */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .container-control {
        height: auto;
    }

    .base-ova {
        height: 5%;
    }

    .tv {
        padding: 1%;
    }

    .control-tv {
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    .numeros,
    .direction-buttons,
    .btn-vol-cha {
        flex-direction: row;
        height: auto;
    }

    .botones-arriba,
    .btn-extras {
        flex-direction: column;
        height: auto;
    }
}