body {
    display: flex;
    width: 100vw;
    height: 100vh; 
    margin: 0;
    flex-direction: row;
    user-select: none;
    cursor: pointer;
}

.container-tv {
    flex: 8;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
}

.tv {
    margin-top: 2%;
    background-color: black;
    height: 70%;
    width: 80%; 
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1%;
}

.imagen{
    width: 100%;
    height: 100%;
    background-color: rgb(32, 32, 32);
}

/* Estilo para el div de marca-tv */
.marca-tv {
    font-family: 'SamsungSharpSans', sans-serif;
    font-weight: bold;
    font-size: 0.8vw;
    color: #cccccc;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: linear-gradient(45deg, #dcdcdc, #a9a9a9, #dcdcdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-right: 10px;
    padding-top: 1px;
    height: 3%;
}


.circulo-rojo {
    width: 1%; 
    height: 50%;
    background-color: rgb(99, 0, 0);
    border-radius: 50%;
}

.container-text {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 350%;
}

.logo-samsung{
    height: 100%;
}


.base-rect{
background-color: black;
height: 5%;
width: 10%;
}

.base-ova {
    width: 30%;
    height: 3%; 
    background-color: black; 
    border-radius: 50%;
    margin-top: -1px;
}


.container-control {
    flex: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-tv{
    width: 60%;
    height: 80%;
    background-color: black;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
}

.botones-arriba{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    border-radius: 50%;
}

.btn-power, .btn-lujo{
    background-color: red;
    border-radius: 50%;
    height: 45%;
    width: 15%;
    line-height: 143%;
    align-items: center;
    justify-content: center;
}

.numeros{
    margin-top: 5%;
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: repeat(3, 24%);
    gap: 1%;
    align-items: center;
    justify-content: center;
}

.btn-number{
    padding: 1px;
    width: 80%;
    height: 70%;
    border-radius: 50%;
    line-height: 180%;
}

.btn-vol-cha{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.volumen{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mayor{
    margin-top: 10%;
    background-color: aqua;
    height: 45%;
    width: 80%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menor{
    margin-top: 2%;
    background-color: aqua;
    height: 45%;
    width: 80%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    background-color: antiquewhite;
    text-align: center;
    margin: 0;
}

.direction-buttons {
    height: 20%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    justify-items: center;
}

.direction-middle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ok {
    font-weight: bold;
}

/* .logos--netflix::after { */

.btn-log {
    background-color: #a9a9a9;
    width: 25%;
    height: 60%;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-netflix{
    content: url("../images/netflix.png");
  }
  
  .btn-star{
    content: url("../images/star-plus.png");
  }

  .btn-extras{
    margin-top: 10px;
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }

  .btn-ex-set{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 4%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }

   .btn-exit, .btn-settings {
    font-size: 75%;
    background-color: #a9a9a9;
    width: 20%;
    height: 100%;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  } 

/* Opcional: Estilos para cuando el span esté en un estado activo o presionado */
.btn-exit:active, .btn-settings:active, .btn-power:active {
    background-color: #2a2a2a; /* Color más oscuro cuando se presiona */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Sombra menos pronunciada */
}

/* Consulta de medios para pantallas pequeñas */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .container-control {
        height: auto;
    }

    .base-ova{
        height: 5%;
    }

    .tv{
        padding: 1%;
    }

    .control-tv {
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    .numeros, .direction-buttons, .btn-vol-cha {
        flex-direction: row;
        height: auto;
    }

    .botones-arriba, .btn-extras{
        flex-direction: column;
        height: auto;
    }
}
